Modulo1/PrimoModulo/Droid/bin/
Modulo1/PrimoModulo/packages/
Modulo1/PrimoModulo/Droid/obj/
Modulo3/CorsoXamarinModulo3/Droid/bin/
Modulo3/CorsoXamarinModulo3/Droid/obj/
Modulo3/CorsoXamarinModulo3/CorsoXamarinModulo3.v12.suo
Modulo3/CorsoXamarinModulo3/bin/
Modulo3/CorsoXamarinModulo3/iOS/obj/
Modulo3/CorsoXamarinModulo3/obj/
Modulo3/CorsoXamarinModulo3/packages/
Modulo5/EsempioAccessoDatiLocaliERemoti/Accessoaidati.userprefs
Modulo4/EsempioAccessoDatiLocali/EsempioAccessoDatiLocali.userprefs
Modulo4/EsempioAccessoDatiLocali/packages/
Modulo4/EsempioAccessoDatiLocali/EsempioAccessoDatiLocali/bin/
Modulo4/EsempioAccessoDatiLocali/EsempioAccessoDatiLocali/obj/
Modulo5/EsempioAccessoDatiLocaliERemoti/Accessoaidati/bin/
Modulo4/EsempioAccessoDatiLocali/Droid/bin/
Modulo4/EsempioAccessoDatiLocali/Droid/obj/
Modulo5/EsempioAccessoDatiLocaliERemoti/Droid/obj/
Modulo5/EsempioAccessoDatiLocaliERemoti/packages/
Modulo5/EsempioAccessoDatiLocaliERemoti/Droid/bin/
Modulo5/EsempioAccessoDatiLocaliERemoti/Accessoaidati/obj/
